body {
  margin: 0;
  font-family: 'Inter var', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.notice {
  padding: 10px;
  border-radius: 5px;
  color: #79262d;
  background-color: #f8d7da;
}
